[Unit]
Description=Prepare dm-verity mapper device
Before=ostree-prepare-root.service

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/sbin/verity-setup
RemainAfterExit=yes
