[Unit]
Description=Configures constellation cloud service provider environment variable

[Service]
Type=oneshot
ExecStart=/bin/bash -c "CSP=$(cat /proc/cmdline | tr  ' ' '\n' | grep ignition.platform.id | sed 's/ignition.platform.id=//'); echo CONSTEL_CSP=$CSP > /etc/constellation.env"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
