[Unit]
Description=Constellation Coordinator
Wants=network-online.target
After=network-online.target
[Service]
Type=simple
EnvironmentFile=/etc/constellation.env
ExecStartPre=-setenforce Permissive
ExecStart=/usr/bin/coordinator
[Install]
WantedBy=multi-user.target
