[Unit]
Description=Loadbalancer Container
After=containerd.service
Requires=containerd.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/podman stop loadbalancer
ExecStartPre=-/usr/bin/podman rm loadbalancer
ExecStartPre=/usr/bin/podman pull ghcr.io/edgelesssys/loadbalancer:latest
ExecStart=/usr/bin/podman run --rm --network=host --name loadbalancer ghcr.io/edgelesssys/loadbalancer:latest 10.118.0.1 10.118.0.2 10.118.0.3 10.118.0.4

[Install]
WantedBy=multi-user.target
