[Unit]
Description=Create and mount stateful partiton to be used by kubernetes
DefaultDependencies=no
Conflicts=shutdown.target
After=systemd-remount-fs.service mount-overlays.service prepare-userland.service
Before=systemd-firstboot.service systemd-sysusers.service sysinit.target shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash /usr/sbin/stateful-partition
StandardOutput=tty
StandardInput=tty
StandardError=tty

[Install]
WantedBy=sysinit.target
