[Unit]
Description=Print PCR state on startup

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/constellation-pcrs

[Install]
WantedBy=multi-user.target

