[Unit]
Description=Start WireGuard Interface
Wants=network.target
Before=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c "ip link add dev wg0 type wireguard"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
